<div class="sidenav">
  <div class="navigation-container">
    <app-logo width="40px"></app-logo>
    <nav>
      <ul>
        <li
          [class.active]="tabService.getSelectedTab() === 'chats'"
          (click)="selectTab('chats')"
        >
          <i class="pi pi-comments"></i>
          <span class="tooltip">Chats</span>
        </li>
        <li
          [class.active]="tabService.getSelectedTab() === 'groups'"
          (click)="selectTab('groups')"
        >
          <i class="pi pi-th-large"></i>
          <span class="tooltip">Groups</span>
        </li>
        <li
          [class.active]="tabService.getSelectedTab() === 'peoples'"
          (click)="selectTab('peoples')"
        >
          <i class="pi pi-users"></i>
          <span class="tooltip">Peoples</span>
        </li>
        <li
          [class.active]="tabService.getSelectedTab() === 'requests'"
          (click)="selectTab('requests')"
        >
          <i class="pi pi-user-plus"></i>
          <span class="tooltip">Requests</span>
        </li>
        <li (click)="openEditProfileDialog()">
          <i class="pi pi-cog"></i>
          <span class="tooltip">Settings</span>
        </li>
      </ul>
    </nav>
  </div>
  <div class="theme-button">
    <div class="profile-icon">
      <ng-container *ngIf="profilePicture; else defaultIcon">
        <img
          [src]="profilePicture"
          alt="Profile Picture"
          class="profile-picture"
        />
      </ng-container>
      <ng-template #defaultIcon>
        <i class="pi pi-user"></i>
      </ng-template>
      <p>{{ username }}</p>
    </div>
    <button class="logout-button pi pi-sign-out" (click)="confirmLogout()"></button>
    <app-theme-toggle></app-theme-toggle>
  </div>
</div>

<p-dialog header="Confirm Logout" [(visible)]="displayLogoutDialog" [modal]="true" [closable]="false">
  <p>Are you sure you want to logout?</p>
  <p-footer>
    <button type="button" pButton label="Yes" icon="pi pi-check" (click)="logout()"></button>
    <button type="button" pButton label="No" icon="pi pi-times" (click)="displayLogoutDialog = false"></button>
  </p-footer>
</p-dialog>

<!-- Edit Profile Dialog -->
<p-dialog
  header="Edit Profile"
  [(visible)]="displayEditProfileDialog"
  [modal]="true"
  [closable]="false"
>
  <div class="edit-profile-content">
    <p>Update your profile picture</p>
    <input type="file" (change)="onProfilePictureSelected($event)" />
  </div>
  <p-footer>
    <button type="button" pButton label="Save" icon="pi pi-check" (click)="updateProfilePicture()"></button>
    <button type="button" pButton label="Cancel" icon="pi pi-times" (click)="displayEditProfileDialog = false"></button>
  </p-footer>
</p-dialog>
