* {
  margin: 0;
  padding: 0;
}

.sidebar-component {
  height: 90vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-right: 1px solid #ccc;
}

.search-bar {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.search-bar input {
  flex: 1;
  padding: 0.75rem 1rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
}

.sidebar-navbar {
  margin: 1em;
}

.sidebar-contents {
  width: 100%;
  padding: 1em;
}

.sidebar-contents-overflow {
  overflow-y: auto;
  height: 60vh;
}

.sidebar-contents-overflow::-webkit-scrollbar {
  width: 3px;
}

.sidebar-contents-overflow::-webkit-scrollbar-track {
  background: #ccc;
}

.sidebar-contents-overflow::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.sidebar-individual-content,
.sidebar-individual-content-chats,
.peoples-content,
.friend-request {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 1em 0;
  justify-content: space-between;
}

.sidebar-individual-content:hover,
.sidebar-individual-content-chats:hover,
.peoples-content:hover,
.friend-request:hover {
  border: 1px solid #3498db;
}

.pic-name,
.peoples-pic-name {
  display: flex;
  align-items: center;
  gap: 1em;
}

.peoples-pic-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

p-button.join-leave-button ::ng-deep button {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  height: auto;
  line-height: 1.2;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

p-button.join-leave-button ::ng-deep button:hover {
  border: 1px solid #3498db;
  background: #eaf2fc;
}

.sidebar-individual-content-chats {
  flex-wrap: wrap;
  justify-content: start;
}
