<div class="chat-content">
  <div class="chat-content-navbar">
    <h2>{{ chatTitle }}</h2>
  </div>
  <div class="chat-messages" #chatMessagesContainer>
    <div
      *ngFor="let message of messages"
      [ngClass]="message.senderId.id === userId ? 'current-user' : 'other-user'"
    >
      <div class="message-content">
        <div class="message-header">
          <img
            class="message-profile-picture"
            [src]="message.senderId.profilePicture ? message.senderId.profilePicture : 'assets/photos/default.png'"
            alt="Profile Picture"
          />
          <span class="message-username">{{ message.senderId.username }}</span>
        </div>
        <div class="message-content-inner">
          <div class="message-text">{{ message.content }}</div>
          <div class="message-timestamp">{{ message.timestamp | date: 'shortTime' }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input-container">
    <input
      class="search-input"
      [(ngModel)]="currentMessage"
      pInputText
      type="text"
      placeholder="Send Messages..."
    />
    <p-button
      class="pi pi-send"
      (click)="sendMessage()"
      [rounded]="true"
      [text]="true"
    ></p-button>
  </div>
</div>
