.chat-content {
  padding: 1em;
  height: 90vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.chat-content-navbar {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-messages {
  height: 80%;
  padding: 1em;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  scrollbar-width: thin;
  scrollbar-color: #888 #ccc;
}

.chat-messages::-webkit-scrollbar {
  width: 6px; /* Slightly wider for better usability */
}

.chat-messages::-webkit-scrollbar-track {
  background: #ccc;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.chat-input-container {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p-button {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 70%;
}

.current-user .message-content {
  align-self: flex-end;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.other-user .message-content {
  align-self: flex-start;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.current-user .message-content .message-content-inner {
  align-self: flex-end;
  background-color: #e0ffe0;
  border-radius: 10px 10px 0 10px;
  padding: 10px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.other-user .message-content .message-content-inner {
  align-self: flex-start;
  background-color: #f0f0f0;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.message-profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-username {
  font-weight: bold;
  font-size: 0.9rem;
  color: #666;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-text {
  font-size: 1rem;
}

.message-timestamp {
  font-size: 0.8rem;
  margin-top: 5px;
  color: #888;
}

.current-user .message-header {
  display: none;
}
.message-date-header {
  text-align: center;
  color: #666;
  font-weight: bold;
  margin: 10px 0;
}
