.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em;
}

p-password {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}


