.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

